body {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

* {
    font-family: sans-serif, Hack, Verdana, Futura, serif;
    font-size: 18px;
    line-height: 26px;
}

body {
    background-color: #fefefe;
    color: #333333;
}

h1 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 0px;
}

small {
    font-size: 15px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

a {
    color: #333333;
}

img#me {
    width: 150px;
    border-radius: 6%;
    border: 1px solid #333;
}

img {
    max-width: 98%;
}

hr {
    border: none;
    width: 75%;
    height: 1px;
    color: #CCC;
    background-color: #CCC;
    margin-top: 50px;
    margin-bottom: 50px;
}

code#inline-code {
    background-color: #EEE;
    border-radius: 5%;
    padding: 1px 6px 1px 6px;
    font-family:  monospace;
}

.language-cpp {
    font-family:  monospace;
}

.language-python {
    font-family:  monospace;
}

.results-table {
    margin: 20px;
}

.results-table td {
    font-family: monospace;
    padding: 10px;
    padding-right: 50px;
}
